page-settings {
	.toolbar-background-md {
		background-color: #222;
	}
	.toolbar-title-md, .bar-button-default-md {
		color: #fff;
	}
	ion-col {
		height: 50px;
	}
	ion-row {
		margin-bottom: 10px;
	}
	.item-md {
		padding: 0px;
	}
}
