// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/*$themeColor: #2c69cc;

.content-md, ion-content {
	background-color: $themeColor;
}*/

.logo {
	max-height: 39px;
}

button {
	border: none !important;
}
.button[icon-only] {
    min-width: 10em !important;
}
.list-md ion-item-options .button {
	box-shadow: inset 0px 1px 27px 0px #494b4e;
	margin: 0px; 
	height: 100%;
}
.list-md > .item-wrapper:last-child .item-block {
	border-bottom: none;
}
.list-md > .item-wrapper:first-child .item-block {
	border-top: none;
}
home-page .home-item, .item-cover {
	box-shadow: inset 0px 1px 16px 0px #494b4e;
}